<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <link rel="shortcut icon" type="image/x-icon" href="/{{ site.favicon }}" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_circle,archive,article,book,books_library,calculate,function,functions,globe,link,photo_library,school,science,shield_lock,video_library"/>

  <script>
MathJax = {
  tex: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
  },
  svg: {
    fontCache: 'global'
  }
};
</script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" defer></script>
</head>