<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
        {%- include head.html -%}
    <body>
    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
            <footer style="font-size: 0.8rem;">
  <hr>
  {%- assign datetoday = site.time | date: "%d-%m-%Y" -%}
  Last updated on {{ datetoday }}. A fork of <a href=https://github.com/riggraz/no-style-please>no-style-please</a> by Riccardo Graziosi.
</footer>
        </div>
        
    </main>
    </body>
</html>

